html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: slategray;
  background-blend-mode: darken;
  font-family: monospace;
  font-size: 20px;
  
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
.posts{
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 100px 50px 100px; */
  grid-template-rows: 80px  80px; 
  /* column-gap: 10px; */
  /* row-gap: 15px; */
  
}
.modals {
  font-size: 24px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: auto;
  /* height: 200px; */
  border: snow 5px solid;
  border-radius: 20px;
  color: aliceblue;
  text-shadow: black 2px 1px 3px;

}
.title{
  margin: 0;
  background-color: rgb(75, 145, 236);
  width: auto;
  height: 80px;
  border-radius: 20 20 0 0;
  border-bottom: none;
}
.content{
  margin: 0;
  background-color: rgb(27, 219, 233);
  width: auto;
  height: 200px;
  
}
.category{
  border-top:none;
  margin: 0;
  background-color: rgb(75, 145, 236);
  width: auto;
  height: 80px;
  border-radius: 0px 0px 20px 20px;
}

h3 {
  font-size: 25px;
  font-family: monospace;

}
.form{
  margin: 0 auto;
  width: 700px;
  padding-right: 50px;
}
.commlist{
  background-color: rgb(44, 45, 53);
  font-style: oblique;
  margin: 0 auto;
  width: 500px;
  
}

